* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
  background-color: #254e58;
  color: #88bdbc;
}

a {
  color: #88bdbc;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.title {
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1rem;
  text-align: center;
}

.navbar {
  border-radius: 5px;

  background-color: #88bdbc;
  color: #112d32;
}

#navcolor {
  color: #112d32;
}
h1 {
  color: #88bdbc;
}

.border-custom {
  border: 2px solid #88bdbc;
}

.table > :not(caption) > * > * {
  background-color: #6e6658;
  border-color: #4f4a41;
}

#buttons {
  background-color: #4f4a41;
  color: #112d32;
}

.about-section {
  background-color: #6e6658;
  color: #88bdbc;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.skills-section {
  background-color: #6e6658;
  color: #88bdbc;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.custom-label {
  background-color: #6e6658;
  border: 1px solid #4f4a41;
  padding: 5px;
  display: inline-block;
  color: #112d32;
}

.footer-container {
  text-align: center;
}

.review-user {
  display: flex;
  justify-content: start;
  align-items: center;
}

#table-css {
  border-bottom: 1px solid #4f4a41;
  padding: 8px;
}

#table-complete {
  background-color: #6e6658;
  border-left: 1px solid #4f4a41;
  border-right: 1px solid #4f4a41;
}

.table-ccs-first {
  border-top: 1px solid #4f4a41;
  border-left: 1px solid #4f4a41;
  border-right: 1px solid #4f4a41;
}

h5 {
  color: #112d32;
  margin-top: 5px;
  text-align: center;
}
