* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
  background-color: #4f4a41;
}

a {
  color: #00b7ff;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;