* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
  background-color: 0;
}

a {
  color: #00b7ff;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}


.title {
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1rem
}

.navbar {
  border-radius: 5px;
}
