* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
  background-color: #254e58;
  color: #88bdbc;
}

a {
  color: #88bdbc;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}


.title {
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1rem;
  text-align: center;
}

.navbar {
  border-radius: 5px;

  background-color: #88bdbc;
  color: #112d32;
}

#navcolor {
  color: #112d32;
}
h1 {
  color: #88bdbc;
}

.border-custom {
  border: 2px solid #88bdbc;
}

.table > :not(caption) > * > * {
  background-color: #6e6658;
  border-color: #4f4a41;
}

#buttons {
  background-color: #4f4a41;
  color: #112d32;
}


.about-section {
  background-color: #6e6658;
  color: #88bdbc;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.skills-section {
  background-color: #6e6658;
  color: #88bdbc;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.custom-label {
  background-color: #6e6658; /* Replace with your desired background color */
  border: 1px solid #4f4a41; /* Replace with your desired border color and thickness */
  padding: 5px; /* Adjust padding as needed */
  display: inline-block; /* Keeps the label and input elements on the same line */
  color: #112d32;
}

.footer-container {
  text-align: center;
}
