<%- include('../partials/header') %>

<container
  ><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" /><%=
  user.name %></container
>

<container
  ><h2>About</h2>
  <p>Brand Statement</p></container
>

<%- include('../partials/footer') %>
