<%- include('../partials/header') %>

<container
  ><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" /><%=
  user.name %></container
>

<h2>User Profile</h2>

<%- include('../partials/footer') %>