<%- include('../partials/header') %>

<container
  ><img
    alt="avatar"
    src="<%= user.userAvatar %>"
    referrerpolicy="no-referrer"
  /><%= user.userName %></container
>

<container
  ><h2>About</h2>
  <p>Brand Statement</p></container
>


<%- include('../partials/footer') %>
